In [1]:
import pandas as pd
import os
from tqdm import tqdm
from multiprocessing import Pool
import numpy as np

In [2]:
def flatten(lst):
    return [item for sublist in lst if type(sublist)==list for item in sublist  ]

In [3]:
chart_res_df = pd.concat([pd.read_csv('data/all_admission_fulladm_chart_stats_merged.csv',index_col=0), pd.read_csv('data/all_admission_fulladm_lab_stats_merged.csv',index_col=0)], ignore_index=True)
chart_res_df = chart_res_df.fillna('[]')
chart_res_df[list(chart_res_df.columns)[1:]] = chart_res_df[list(chart_res_df.columns)[1:]].applymap(eval)

# for col in chart_res_df.columns[1:]:
#     chart_res_df[col]=chart_res_df[col].apply(eval)

/gpfs/gsfs12/users/moldwinar/environments/torchtcav/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
med_df = pd.read_csv('../../LHC_mimic/mimic3_1.4/raw_data/PRESCRIPTIONS.csv')

/gpfs/gsfs12/users/moldwinar/environments/torchtcav/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
chart_res_df = pd.concat([chart_res_df.groupby('new_HADM').agg(lambda x: flatten(list(x)))[list(chart_res_df.columns)[1:]].applymap(lambda x: np.mean(x) ).rename(lambda x: 'mean_'+x, axis=1),
chart_res_df.groupby('new_HADM').agg(lambda x: flatten(list(x)))[list(chart_res_df.columns)[1:]].applymap(lambda x: min(x,default=np.nan) ).rename(lambda x: 'min_'+x, axis=1),
chart_res_df.groupby('new_HADM').agg(lambda x: flatten(list(x)))[list(chart_res_df.columns)[1:]].applymap(lambda x: max(x,default=np.nan) ).rename(lambda x: 'max_'+x, axis=1),
chart_res_df.groupby('new_HADM').agg(lambda x: flatten(list(x)))[list(chart_res_df.columns)[1:]].applymap(lambda x: pd.Series(x).count() ).rename(lambda x: 'count_'+x, axis=1),
chart_res_df.groupby('new_HADM').agg(lambda x: flatten(list(x)))[list(chart_res_df.columns)[1:]].applymap(lambda x: np.median(x) ).rename(lambda x: 'median_'+x, axis=1),
chart_res_df.groupby('new_HADM').agg(lambda x: flatten(list(x)))[list(chart_res_df.columns)[1:]].applymap(lambda x: np.std(x) ).rename(lambda x: 'stdev_'+x, axis=1)], axis=1)

/gpfs/gsfs12/users/moldwinar/environments/torchtcav/lib/python3.6/site-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/gpfs/gsfs12/users/moldwinar/environments/torchtcav/lib/python3.6/site-packages/numpy/core/_methods.py:170: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/gpfs/gsfs12/users/moldwinar/environments/torchtcav/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  after removing the cwd from sys.path.
/gpfs/gsfs12/users/moldwinar/environments/torchtcav/lib/python3.6/site-packages/numpy/core/_methods.py:234: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/gpfs/gsfs12/users/moldwinar/environments/torchtcav/lib/python3.6/site-packages/numpy/core/_methods.py:195: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/gpfs/gsfs12/users/moldwinar/environments/torchtcav/lib/python3.6/site-packages/numpy/core/_methods.py:226: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [6]:
chart_res_df

,mean_cholesterol,mean_diasbp,mean_glucose,mean_hdl,mean_heartrate,mean_ldl,mean_meanbp,mean_resprate,mean_spo2,mean_sysbp,...,stdev_meanbp,stdev_resprate,stdev_spo2,stdev_sysbp,stdev_tempc,stdev_triglycerides,stdev_abd_girth,stdev_heightcm,stdev_weightkg,stdev_hema1c
new_HADM,,,,,,,,,,,,,,,,,,,,,
100001.0,NaN,92.780822,177.000000,NaN,111.313953,NaN,111.852941,17.357143,97.604167,174.191781,...,13.065744,2.467131,0.951744,21.355861,0.454595,NaN,NaN,NaN,NaN,NaN
100003.0,NaN,60.615385,95.300000,NaN,81.218182,NaN,73.980769,15.818182,98.229167,116.519231,...,11.930069,2.790184,2.717532,16.891612,0.499362,NaN,NaN,NaN,NaN,NaN
100006.0,NaN,82.169811,140.342857,NaN,108.630252,NaN,101.616366,18.682927,97.861789,140.509434,...,11.199060,3.308813,2.554528,12.911342,0.346422,NaN,NaN,NaN,0.000000,NaN
100007.0,NaN,67.164557,124.333333,NaN,79.444444,NaN,91.000000,19.185185,97.960526,140.746835,...,10.330889,4.433629,2.173045,12.225175,0.674540,NaN,NaN,NaN,0.550001,NaN
100009.0,NaN,51.175439,154.307692,NaN,68.968750,NaN,66.178571,23.888889,96.174603,110.543860,...,7.438095,5.671178,2.012183,12.540559,0.280822,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199993.0,NaN,66.012755,122.576119,25.0,87.219136,111.0,80.944870,18.705634,96.533003,106.927296,...,12.273041,4.616791,1.907446,14.164614,0.474080,NaN,NaN,0.0,7.162080,NaN
199994.0,NaN,51.043062,114.960000,NaN,71.882353,NaN,70.645730,13.833333,96.948454,107.695238,...,14.008126,3.673479,2.560087,16.348947,0.595796,NaN,NaN,0.0,7.317915,NaN
199995.0,NaN,63.169811,115.378788,NaN,108.150943,NaN,79.477983,18.716981,97.367347,112.830189,...,8.309130,4.435608,2.413346,10.860585,0.533723,NaN,NaN,0.0,0.000000,0.0
199998.0,NaN,51.000000,129.716981,NaN,71.314286,NaN,74.621622,16.023810,98.615385,126.609756,...,14.923863,2.577264,1.763089,22.719797,1.237601,NaN,NaN,0.0,3.900002,0.0
199999.0,NaN,55.674157,120.666667,NaN,73.357143,NaN,76.651685,25.676768,94.323232,138.292135,...,10.730719,3.595250,2.034194,14.387262,0.613622,NaN,NaN,NaN,NaN,NaN

In [7]:
rx_df = pd.read_csv('data/all_admission_fulladm_rx_stats_merged.csv', index_col=0)
rx_df = rx_df.groupby('new_HADM').agg(lambda x: list(x))[list(rx_df.columns)[1:]].applymap(lambda x: sum(x)>0 )

In [8]:
dx_df = pd.read_csv('data/all_admission_fulladm_dx_stats_merged.csv', index_col=0)
dx_df = dx_df.drop_duplicates(subset=['new_HADM'])#.groupby('HADM_ID').agg(lambda x: list(x))# [list(dx_df.columns)[1:]].applymap(lambda x: sum(x)>0 )

In [9]:
chart_res_df =chart_res_df.reset_index()
chart_res_df['new_HADM'] = chart_res_df['new_HADM'].astype(int)

In [10]:
rx_df= rx_df.reset_index()
rx_df['new_HADM'] = rx_df['new_HADM'].astype(int)

In [11]:
# dx_df= dx_df.reset_index()
dx_df['new_HADM'] = dx_df['new_HADM'].astype(int)

In [12]:
dx_df

        new_HADM  diabetesdx
71        140784           1
91        164853           1
113       195632           1
206       113323           1
214       198214           1
...          ...         ...
650799    138027           1
650811    149629           1
650880    109999           1
650990    152542           1
651014    161999           1

[14361 rows x 2 columns]

In [13]:
all_df = chart_res_df.merge( rx_df, on='new_HADM', how='outer').merge( dx_df, on='new_HADM', how='outer')

In [14]:
all_df

,new_HADM,mean_cholesterol,mean_diasbp,mean_glucose,mean_hdl,mean_heartrate,mean_ldl,mean_meanbp,mean_resprate,mean_spo2,...,stdev_abd_girth,stdev_heightcm,stdev_weightkg,stdev_hema1c,MED_ACE,MED_BETA,MED_FIBR,MED_INS,MED_STAT,diabetesdx
0,100001,NaN,92.780822,177.000000,NaN,111.313953,NaN,111.852941,17.357143,97.604167,...,NaN,NaN,NaN,NaN,False,False,False,True,True,1.0
1,100003,NaN,60.615385,95.300000,NaN,81.218182,NaN,73.980769,15.818182,98.229167,...,NaN,NaN,NaN,NaN,False,False,False,False,True,NaN
2,100006,NaN,82.169811,140.342857,NaN,108.630252,NaN,101.616366,18.682927,97.861789,...,NaN,NaN,0.000000,NaN,False,False,False,True,True,NaN
3,100007,NaN,67.164557,124.333333,NaN,79.444444,NaN,91.000000,19.185185,97.960526,...,NaN,NaN,0.550001,NaN,True,False,False,True,True,NaN
4,100009,NaN,51.175439,154.307692,NaN,68.968750,NaN,66.178571,23.888889,96.174603,...,NaN,NaN,NaN,0.0,True,False,True,True,True,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57685,100580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
57686,101556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
57687,132498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
57688,115270,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
57689,184149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [16]:
all_df.to_csv('data/all_admission_fulladm_all_stats_merged.csv')

In [15]:
list(all_df.columns)
all_df['mean_hdl'].dropna()#['mean_abd_girth'].hist()

24       19.333333
43       34.000000
70       76.000000
86       49.000000
92       47.000000
           ...
57485    35.000000
57504    43.000000
57512    76.000000
57513    67.000000
57518    25.000000
Name: mean_hdl, Length: 6251, dtype: float64

In [22]:
#start here if structured data already compiled

In [15]:
import pandas as pd 
import os
import numpy as np

In [32]:
all_df = pd.read_csv('data/all_admission_fulladm_all_stats.csv', index_col=0)

In [33]:
# len(all_df['mean_heightcm'].dropna())

subjects_df =  pd.read_csv('../../LHC_mimic/mimic3_1.4/raw_data/PATIENTS.csv')[['SUBJECT_ID','DOB','GENDER']]
adm_df = pd.read_csv('../../LHC_mimic/mimic3_1.4/raw_data/ADMISSIONS.csv').merge(subjects_df, on='SUBJECT_ID', how='left')

adm_df['ADMITTIME'] = pd.to_datetime(adm_df['ADMITTIME']).dt.date
adm_df['DOB'] = pd.to_datetime(adm_df['DOB'] ).dt.date

adm_df['AGE'] = adm_df.apply(lambda row: (row['ADMITTIME']-row['DOB']).days / 365.25,axis=1)

all_df = all_df.merge(adm_df[['HADM_ID','GENDER','AGE']], on='HADM_ID', how='outer')

# stays_df = pd.read_csv('../../LHC_mimic/mimic3_1.4/raw_data/ICUSTAYS.csv')
# all_df =  all_df.merge(stays_df[['HADM_ID','ICUSTAY_ID']], how='left', on='HADM_ID')

# all_df[all_df['HADM_ID']==104557][[col for col in all_df.columns if 'weight' in col or'height' in col]]

In [34]:
all_df

,HADM_ID,mean_cholesterol,mean_diasbp,mean_glucose,mean_heartrate,mean_ldl,mean_meanbp,mean_resprate,mean_spo2,mean_sysbp,...,stdev_heightcm,stdev_weightkg,stdev_hdl,stdev_hema1c,MED_ACE,MED_BETA,MED_INS,diabetesdx,GENDER,AGE
0,100001,NaN,90.666667,171.640000,111.760000,NaN,110.545455,16.875000,97.833333,177.041667,...,NaN,NaN,NaN,NaN,False,True,True,1.0,F,35.474333
1,100003,NaN,57.593750,81.200000,79.441176,NaN,70.031250,15.058824,98.281250,109.468750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,59.909651
2,100006,NaN,68.782609,155.000000,111.958333,NaN,88.405796,19.375000,97.880000,127.652174,...,NaN,0.000000,NaN,NaN,False,False,True,NaN,F,48.914442
3,100007,NaN,63.000000,125.333333,75.576923,NaN,87.576923,15.888889,99.777778,140.407407,...,NaN,0.550001,NaN,NaN,False,True,False,NaN,F,73.820671
4,100009,NaN,NaN,151.400000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,True,True,True,1.0,M,60.793977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,115591,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,63.860370
58972,103529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,61.919233
58973,116892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,69.453799
58974,184477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,47.334702
58975,182540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,F,47.397673

In [35]:
all_df['MED_ACE'] = all_df['MED_ACE'].fillna(False).apply(lambda x: 1.0 if x else 0.0)
all_df['MED_BETA'] = all_df['MED_BETA'].fillna(False).apply(lambda x: 1.0 if x else 0.0)
all_df['MED_INS'] = all_df['MED_INS'].fillna(False).apply(lambda x: 1.0 if x else 0.0)
all_df['diabetesdx'] = all_df['diabetesdx'].fillna(0.0)

In [6]:
rf_identifiers = {
    'HADM_ID':lambda row: row['HADM_ID'],
    'HYPERTENSION':lambda row: row['max_sysbp']>140 or row['max_diasbp']>90,
    'HYPERLIPIDEMIA': lambda row: row['max_ldl']>100 or row['max_cholesterol']>240,
    'MEDICATION': lambda row: row['MED_ACE']==1 or row['MED_BETA']==1 or row['MED_INS']==1,
    'DIABETES': lambda row: row['diabetesdx']==1,
    'OBESE': lambda row: row['max_weightkg']/(row['max_heightcm']/100)**2 > 30
}

In [7]:
rfs_df =  pd.DataFrame({rf:all_df.apply(fn,axis=1) for rf,fn in rf_identifiers.items()})

In [8]:
rfs_df['rf_string'] = rfs_df.apply(lambda row:' '.join([ idx  for idx in row.index if row[idx]==True]), axis=1)

In [9]:
rfs_df['rf_string'] = rfs_df['rf_string'].fillna('')

In [10]:
rfs_df

,HADM_ID,HYPERTENSION,HYPERLIPIDEMIA,MEDICATION,DIABETES,OBESE,rf_string
0,100001.0,True,False,True,True,False,HYPERTENSION MEDICATION DIABETES
1,100003.0,True,False,False,False,False,HYPERTENSION
2,100006.0,True,False,True,False,False,HYPERTENSION MEDICATION
3,100007.0,True,False,True,False,False,HYPERTENSION MEDICATION
4,100009.0,False,False,True,True,False,MEDICATION DIABETES
...,...,...,...,...,...,...,...
57632,132498.0,False,False,False,True,False,DIABETES
57633,115270.0,False,False,False,True,False,DIABETES
57634,152883.0,False,False,False,True,False,DIABETES
57635,167274.0,False,False,False,True,False,DIABETES
57636,184149.0,False,False,False,True,False,DIABETES

In [35]:
train_df = pd.read_csv('data/CAD_train_halfsplit.csv', index_col=0)
train_df['HADM_ID'] = train_df['HADM_ID'].apply(lambda x: int(x))
train_df = train_df.merge(rfs_df, on='HADM_ID',how='left')
train_df['rf_string'] = train_df['rf_string'].fillna('')
train_df['TEXT']= train_df.apply(lambda row: row['rf_string'] +' '+ row['TEXT'],axis=1)
# train_df.to_csv('data/CAD_train_halfsplit_leakedconcepts.csv')

In [36]:
val_df = pd.read_csv('data/CAD_val_halfsplit.csv', index_col=0)
val_df['HADM_ID'] = val_df['HADM_ID'].apply(lambda x: int(x))
val_df = val_df.merge(rfs_df, on='HADM_ID',how='left')
val_df['rf_string'] = val_df['rf_string'].fillna('')
val_df['TEXT']= val_df.apply(lambda row: row['rf_string'] +' '+ row['TEXT'],axis=1)
# val_df.to_csv('data/CAD_val_halfsplit_leakedconcepts.csv')

In [37]:
test_df = pd.read_csv('data/CAD_test_halfsplit.csv', index_col=0)
test_df['HADM_ID'] = test_df['HADM_ID'].apply(lambda x: int(x))
test_df = test_df.merge(rfs_df, on='HADM_ID',how='left')
test_df['rf_string'] = test_df['rf_string'].fillna('')
test_df['TEXT']= test_df.apply(lambda row: row['rf_string'] +' '+ row['TEXT'],axis=1)
# test_df.to_csv('data/CAD_test_halfsplit_leakedconcepts.csv')

In [34]:
val_and_test = pd.concat([test_df,val_df],ignore_index=True).fillna(False)

In [23]:
for concept in ['HYPERTENSION', 'HYPERLIPIDEMIA','MEDICATION','DIABETES','OBESE']:
    print(concept)
    val_and_test[val_and_test[concept]].to_csv('concept_listfiles/leakedconcepts_'+concept)
    for i in range(50):
        val_and_test[val_and_test[concept].apply(lambda x: not x)].sample(500).to_csv('concept_listfiles/negative_leakedconcepts_'+concept+str(i))

HYPERTENSION
HYPERLIPIDEMIA
MEDICATION
DIABETES
OBESE

In [30]:
val_and_test[val_and_test['label']==1]#.to_csv('concept_listfiles/CAD_leakedconcepts')

,ROW_ID,SUBJECT_ID,HADM_ID,TEXT,label,HYPERTENSION,HYPERLIPIDEMIA,MEDICATION,DIABETES,OBESE,rf_string
0,1284905,1787,138205,MEDICATION [**Name (NI) 2386**] NPN\nPt has re...,1,False,False,True,False,False,MEDICATION
1,631092,84742,196828,HYPERTENSION MEDICATION Coronary artery bypass...,1,True,False,True,False,False,HYPERTENSION MEDICATION
2,1263528,238,174168,MEDICATION Neuro: pt alert oriented following ...,1,False,False,True,False,False,MEDICATION
3,1644506,29488,147767,HYPERTENSION MEDICATION Respiratory care note:...,1,True,False,True,False,False,HYPERTENSION MEDICATION
4,1452267,14578,190413,OBESE CCU NSG ADMIT NOTE.\n61 YO MALE ADMITTED...,1,False,False,False,False,True,OBESE
...,...,...,...,...,...,...,...,...,...,...,...
7262,642366,57923,198282,MEDICATION DIABETES Patient r/I NSTEMI. s/p ca...,1,False,False,True,True,False,MEDICATION DIABETES
7263,1261645,111,192123,HYPERTENSION MEDICATION CCU Admission note and...,1,True,False,True,False,False,HYPERTENSION MEDICATION
7264,1317800,4292,196125,"transfer note\nneuro: a&o,maew pleasnt male\n...",1,False,False,False,False,False,
7265,1668647,32023,184428,MEDICATION DIABETES 7P-7A\nROS:\n\nNEURO: A/OX...,1,False,False,True,True,False,MEDICATION DIABETES
7266,626718,65741,173092,Coronary artery bypass graft (CABG)lima to la...,1,False,False,False,False,False,

In [31]:
# for col in all_df.columns:
#     if col in ['diabetesdx', 'HADM_ID']:
#         continue
#     all_df[col] = all_df[col].fillna(all_df[col].median())

In [32]:
len(all_df['max_heightcm'].dropna())/len(all_df)

0.2887034370282978

In [38]:
all_df['GENDER']=all_df['GENDER'].map({'M':1,'F':0})

In [39]:
all_df_normalized = all_df.copy()
for col in all_df.columns:
    if col in ['HADM_ID']:
        continue
    if 'count' in col:
        all_df_normalized[col]=all_df_normalized[col].fillna(0.0)
    mn = all_df_normalized[col].min()
    mx = all_df_normalized[col].max()
    all_df_normalized[col] = all_df_normalized[col].fillna(all_df_normalized[col].median())
    all_df_normalized[col] = all_df_normalized[col].apply(lambda x: x-mn)
    all_df_normalized[col] = all_df_normalized[col].apply(lambda x: x/mx)

In [41]:
all_df_normalized

,HADM_ID,mean_cholesterol,mean_diasbp,mean_glucose,mean_heartrate,mean_ldl,mean_meanbp,mean_resprate,mean_spo2,mean_sysbp,...,stdev_heightcm,stdev_weightkg,stdev_hdl,stdev_hema1c,MED_ACE,MED_BETA,MED_INS,diabetesdx,GENDER,AGE
0,100001,0.154235,0.575567,0.205739,0.333987,0.164241,0.605289,0.247802,0.866667,0.685135,...,0.0,0.007258,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.113863
1,100003,0.154235,0.325645,0.092723,0.201966,0.164241,0.341934,0.207886,0.871146,0.372056,...,0.0,0.007258,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.192293
2,100006,0.154235,0.410196,0.184946,0.334797,0.164241,0.461374,0.302747,0.867133,0.456304,...,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.157002
3,100007,0.154235,0.366499,0.147873,0.186180,0.164241,0.455986,0.226129,0.886111,0.515401,...,0.0,0.006962,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.236944
4,100009,0.154235,0.347100,0.180447,0.234264,0.164241,0.388678,0.273526,0.864333,0.407529,...,0.0,0.007258,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.195132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58971,115591,0.154235,0.347100,0.148706,0.234264,0.164241,0.388678,0.273526,0.864333,0.407529,...,0.0,0.007258,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.204974
58972,103529,0.154235,0.347100,0.148706,0.234264,0.164241,0.388678,0.273526,0.864333,0.407529,...,0.0,0.007258,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.198743
58973,116892,0.154235,0.347100,0.148706,0.234264,0.164241,0.388678,0.273526,0.864333,0.407529,...,0.0,0.007258,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.222927
58974,184477,0.154235,0.347100,0.148706,0.234264,0.164241,0.388678,0.273526,0.864333,0.407529,...,0.0,0.007258,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.151931
58975,182540,0.154235,0.347100,0.148706,0.234264,0.164241,0.388678,0.273526,0.864333,0.407529,...,0.0,0.007258,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.152133

In [43]:
val_df = pd.read_csv('data/CAD_val_halfsplit.csv', index_col=0)
val_df['HADM_ID'] = val_df['HADM_ID'].apply(lambda x: int(x))
val_df = val_df.merge(all_df_normalized, on='HADM_ID', how='left')
val_df['diabetesdx'] = val_df['diabetesdx'].fillna(0.0)
val_df['MED_ACE'] = val_df['MED_ACE'].fillna(0.0)
val_df['MED_INS'] = val_df['MED_INS'].fillna(0.0)
val_df['MED_BETA'] = val_df['MED_BETA'].fillna(0.0)
for col in all_df_normalized.columns:
    if col in ['HADM_ID']:
        continue
    if 'count' in col:
        val_df[col].fillna(0.0)
    val_df[col] = val_df[col].fillna(all_df_normalized[col].median())
val_df.to_csv('data/CAD_val_halfsplit_plus_structured.csv')

In [44]:
val_df

,ROW_ID,SUBJECT_ID,HADM_ID,TEXT,label,mean_cholesterol,mean_diasbp,mean_glucose,mean_heartrate,mean_ldl,...,stdev_heightcm,stdev_weightkg,stdev_hdl,stdev_hema1c,MED_ACE,MED_BETA,MED_INS,diabetesdx,GENDER,AGE
0,541203,70974,148187,88 y/o female w/ hx of AFib on coumadin. Live...,1,0.154235,0.334301,0.104969,0.151707,0.164241,...,0.0,0.007258,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.283387
1,1322442,4651,164221,CONDITION UPDATE\nASSESSMENT:\n PATIENT ADM...,0,0.154235,0.347100,0.197442,0.234264,0.164241,...,0.0,0.055354,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.193603
2,1376875,8660,114875,RESPIRATORY CARE 1900-0700\nPT ORALLY [**Name ...,1,0.154235,0.309115,0.153455,0.212287,0.164241,...,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.250072
3,452628,97418,105953,Chief Complaint: Pancreatis\n HPI:\n 76M ...,1,0.154235,0.381612,0.117590,0.215581,0.164241,...,0.0,0.007258,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.246347
4,1601504,26057,191103,FOCUS: STATUS UPDATE\nNEURO: PT [**Name (NI) 4...,0,0.154235,0.347100,0.145790,0.234264,0.164241,...,0.0,0.015190,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.213893
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3629,1261645,111,192123,CCU Admission note and Progress note 0800-1900...,1,0.154235,0.403652,0.220685,0.371148,0.164241,...,0.0,0.021772,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.214315
3630,1317800,4292,196125,"transfer note\nneuro: a&o,maew pleasnt male\nc...",1,0.154235,0.347100,0.092473,0.234264,0.164241,...,0.0,0.034424,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.200571
3631,1668647,32023,184428,7P-7A\nROS:\n\nNEURO: A/OX3. PERRLA. PLEASANT ...,1,0.154235,0.347100,0.127463,0.234264,0.164241,...,0.0,0.093038,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.264520
3632,626718,65741,173092,Coronary artery bypass graft (CABG)lima to lad...,1,0.154235,0.347100,0.148706,0.234264,0.164241,...,0.0,0.007258,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.226644
3633,1423320,12284,159550,CCU NSG PROG NOTE: AM'S\nRemains intubated on ...,0,0.154235,0.292371,0.173699,0.151533,0.164241,...,0.0,0.020885,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.278527

In [45]:
train_df = pd.read_csv('data/CAD_train_halfsplit.csv', index_col=0)
train_df['HADM_ID'] = train_df['HADM_ID'].apply(lambda x: int(x))
train_df = train_df.merge(all_df_normalized, on='HADM_ID', how='left')
train_df['diabetesdx'] = train_df['diabetesdx'].fillna(0.0)
train_df['MED_ACE'] = train_df['MED_ACE'].fillna(0.0)
train_df['MED_INS'] = train_df['MED_INS'].fillna(0.0)
train_df['MED_BETA'] = train_df['MED_BETA'].fillna(0.0)
for col in all_df_normalized.columns:
    if col in ['HADM_ID']:
        continue
    if 'count' in col:
        train_df[col].fillna(0.0)
    train_df[col] = train_df[col].fillna(all_df_normalized[col].median())
train_df.to_csv('data/CAD_train_halfsplit_plus_structured.csv')

In [46]:
test_df = pd.read_csv('data/CAD_test_halfsplit.csv', index_col=0)
test_df['HADM_ID'] = test_df['HADM_ID'].apply(lambda x: int(x))
test_df = test_df.merge(all_df_normalized, on='HADM_ID', how='left')
test_df['diabetesdx'] = test_df['diabetesdx'].fillna(0.0)
test_df['MED_ACE'] = test_df['MED_ACE'].fillna(0.0)
test_df['MED_INS'] = test_df['MED_INS'].fillna(0.0)
test_df['MED_BETA'] = test_df['MED_BETA'].fillna(0.0)
for col in all_df_normalized.columns:
    if col in ['HADM_ID']:
        continue
    if 'count' in col:
        test_df[col].fillna(0.0)
    test_df[col] = test_df[col].fillna(all_df_normalized[col].median())
test_df.to_csv('data/CAD_test_halfsplit_plus_structured.csv')

In [48]:
val_df.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'TEXT', 'label', 'mean_cholesterol',
       'mean_diasbp', 'mean_glucose', 'mean_heartrate', 'mean_ldl',
       'mean_meanbp', 'mean_resprate', 'mean_spo2', 'mean_sysbp', 'mean_tempc',
       'mean_heightcm', 'mean_weightkg', 'mean_hdl', 'mean_hema1c',
       'min_cholesterol', 'min_diasbp', 'min_glucose', 'min_heartrate',
       'min_ldl', 'min_meanbp', 'min_resprate', 'min_spo2', 'min_sysbp',
       'min_tempc', 'min_heightcm', 'min_weightkg', 'min_hdl', 'min_hema1c',
       'max_cholesterol', 'max_diasbp', 'max_glucose', 'max_heartrate',
       'max_ldl', 'max_meanbp', 'max_resprate', 'max_spo2', 'max_sysbp',
       'max_tempc', 'max_heightcm', 'max_weightkg', 'max_hdl', 'max_hema1c',
       'count_cholesterol', 'count_diasbp', 'count_glucose', 'count_heartrate',
       'count_ldl', 'count_meanbp', 'count_resprate', 'count_spo2',
       'count_sysbp', 'count_tempc', 'count_heightcm', 'count_weightkg',
       'count_hdl', 'count_hema1c', 'median_cholesterol', 'median_diasbp',
       'median_glucose', 'median_heartrate', 'median_ldl', 'median_meanbp',
       'median_resprate', 'median_spo2', 'median_sysbp', 'median_tempc',
       'median_heightcm', 'median_weightkg', 'median_hdl', 'median_hema1c',
       'stdev_cholesterol', 'stdev_diasbp', 'stdev_glucose', 'stdev_heartrate',
       'stdev_ldl', 'stdev_meanbp', 'stdev_resprate', 'stdev_spo2',
       'stdev_sysbp', 'stdev_tempc', 'stdev_heightcm', 'stdev_weightkg',
       'stdev_hdl', 'stdev_hema1c', 'MED_ACE', 'MED_BETA', 'MED_INS',
       'diabetesdx', 'GENDER', 'AGE'],
      dtype='object')

In [50]:
len(['mean_cholesterol',
       'mean_diasbp', 'mean_glucose', 'mean_heartrate', 'mean_ldl',
       'mean_meanbp', 'mean_resprate', 'mean_spo2', 'mean_sysbp', 'mean_tempc',
       'mean_heightcm', 'mean_weightkg', 'mean_hdl', 'mean_hema1c',
       'min_cholesterol', 'min_diasbp', 'min_glucose', 'min_heartrate',
       'min_ldl', 'min_meanbp', 'min_resprate', 'min_spo2', 'min_sysbp',
       'min_tempc', 'min_heightcm', 'min_weightkg', 'min_hdl', 'min_hema1c',
       'max_cholesterol', 'max_diasbp', 'max_glucose', 'max_heartrate',
       'max_ldl', 'max_meanbp', 'max_resprate', 'max_spo2', 'max_sysbp',
       'max_tempc', 'max_heightcm', 'max_weightkg', 'max_hdl', 'max_hema1c',
       'count_cholesterol', 'count_diasbp', 'count_glucose', 'count_heartrate',
       'count_ldl', 'count_meanbp', 'count_resprate', 'count_spo2',
       'count_sysbp', 'count_tempc', 'count_heightcm', 'count_weightkg',
       'count_hdl', 'count_hema1c', 'median_cholesterol', 'median_diasbp',
       'median_glucose', 'median_heartrate', 'median_ldl', 'median_meanbp',
       'median_resprate', 'median_spo2', 'median_sysbp', 'median_tempc',
       'median_heightcm', 'median_weightkg', 'median_hdl', 'median_hema1c',
       'stdev_cholesterol', 'stdev_diasbp', 'stdev_glucose', 'stdev_heartrate',
       'stdev_ldl', 'stdev_meanbp', 'stdev_resprate', 'stdev_spo2',
       'stdev_sysbp', 'stdev_tempc', 'stdev_heightcm', 'stdev_weightkg',
       'stdev_hdl', 'stdev_hema1c', 'MED_ACE', 'MED_BETA', 'MED_INS',
       'diabetesdx', 'GENDER', 'AGE'])

90

In [92]:
all_df['HADM_ID'].iloc[-2]

167274

In [82]:
all_df['count_meanbp'].median()

20.0

In [53]:
val_and_test = pd.concat([val_df,test_df], ignore_index=True)

In [54]:
val_and_test = val_and_test.merge(rfs_df, on='HADM_ID',how='left')
val_and_test = val_and_test.fillna(False)

In [55]:
for concept in ['HYPERTENSION', 'HYPERLIPIDEMIA','MEDICATION','DIABETES','OBESE']:
    print(concept)
    val_and_test[val_and_test[concept]].to_csv('concept_listfiles/textstr_'+concept)
    for i in range(50):
        val_and_test[val_and_test[concept].apply(lambda x: not x)].sample(500).to_csv('concept_listfiles/negative_textstr_'+concept+str(i))

HYPERTENSION
HYPERLIPIDEMIA
MEDICATION
DIABETES
OBESE

In [57]:
val_and_test[val_and_test['label']==1].to_csv('concept_listfiles/CAD_textstr')

In [59]:
val_and_test.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'TEXT', 'label', 'mean_cholesterol',
       'mean_diasbp', 'mean_glucose', 'mean_heartrate', 'mean_ldl',
       'mean_meanbp', 'mean_resprate', 'mean_spo2', 'mean_sysbp', 'mean_tempc',
       'mean_heightcm', 'mean_weightkg', 'mean_hdl', 'mean_hema1c',
       'min_cholesterol', 'min_diasbp', 'min_glucose', 'min_heartrate',
       'min_ldl', 'min_meanbp', 'min_resprate', 'min_spo2', 'min_sysbp',
       'min_tempc', 'min_heightcm', 'min_weightkg', 'min_hdl', 'min_hema1c',
       'max_cholesterol', 'max_diasbp', 'max_glucose', 'max_heartrate',
       'max_ldl', 'max_meanbp', 'max_resprate', 'max_spo2', 'max_sysbp',
       'max_tempc', 'max_heightcm', 'max_weightkg', 'max_hdl', 'max_hema1c',
       'MED_ACE', 'MED_BETA', 'MED_INS', 'diabetesdx', 'HYPERTENSION',
       'HYPERLIPIDEMIA', 'MEDICATION', 'DIABETES', 'OBESE', 'rf_string'],
      dtype='object')

In [61]:
val_and_test[['mean_cholesterol',
           'mean_diasbp', 'mean_glucose', 'mean_heartrate', 'mean_ldl',
           'mean_meanbp', 'mean_resprate', 'mean_spo2', 'mean_sysbp', 'mean_tempc',
           'mean_heightcm', 'mean_weightkg', 'mean_hdl', 'mean_hema1c',
           'min_cholesterol', 'min_diasbp', 'min_glucose', 'min_heartrate',
           'min_ldl', 'min_meanbp', 'min_resprate', 'min_spo2', 'min_sysbp',
           'min_tempc', 'min_heightcm', 'min_weightkg', 'min_hdl', 'min_hema1c',
           'max_cholesterol', 'max_diasbp', 'max_glucose', 'max_heartrate',
           'max_ldl', 'max_meanbp', 'max_resprate', 'max_spo2', 'max_sysbp',
           'max_tempc', 'max_heightcm', 'max_weightkg', 'max_hdl', 'max_hema1c',
           'MED_ACE', 'MED_BETA', 'MED_INS', 'diabetesdx']].apply(lambda row: list(row),axis=1)

0       [155.0, 58.73913043478261, 91.0, 67.1379310344...
1       [155.0, 60.432882882882886, 165.0, 87.34782608...
2       [155.0, 55.40625, 129.8, 81.96774193548387, 86...
3       [155.0, 65.0, 101.1, 82.7741935483871, 86.0, 9...
4       [155.0, 60.432882882882886, 123.66666666666669...
                              ...
7263    [155.0, 50.379310344827594, 205.05454545454543...
7264    [155.0, 54.71111111111111, 119.36842105263158,...
7265    [155.0, 52.39024390243903, 170.64705882352942,...
7266    [155.0, 51.33333333333334, 117.0, 76.653846153...
7267    [155.0, 49.148148148148145, 138.6, 88.35714285...
Length: 7268, dtype: object

In [4]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import os

In [5]:
train_df = pd.read_csv('data/CAD_train_halfsplit_leakedconcepts.csv')
val_df = pd.read_csv('data/CAD_val_halfsplit_leakedconcepts.csv')
test_df = pd.read_csv('data/CAD_test_halfsplit_leakedconcepts.csv')

In [6]:
train_X = train_df[['HYPERTENSION','HYPERLIPIDEMIA','MEDICATION','DIABETES','OBESE']].replace(True,1).replace(False,0).fillna(0)
val_X = val_df[['HYPERTENSION','HYPERLIPIDEMIA','MEDICATION','DIABETES','OBESE']].replace(True,1).replace(False,0).fillna(0)
train_y = train_df['label']
val_y = val_df['label']

In [7]:
clf = LogisticRegression(random_state=1).fit(train_X, train_y)

In [52]:
from sklearn.metrics import matthews_corrcoef
print(clf.score(train_X, train_y))
print(clf.score(val_X, val_y))
print(matthews_corrcoef(clf.predict(val_X), val_y))

0.6266685014448878
0.6106219042377545
0.22080335571356766

In [9]:
pd.DataFrame({'coef':pd.Series(clf.coef_[0]), 'rf':list(train_X.columns)})

       coef              rf
0 -0.498745    HYPERTENSION
1  1.181644  HYPERLIPIDEMIA
2  0.578008      MEDICATION
3  0.666210        DIABETES
4  0.988565           OBESE

In [27]:
clf.coef_[0]

array([-0.49874491,  1.18164381,  0.57800843,  0.66620999,  0.98856543])

In [2]:
mimic_files =[x for x in  sorted(os.listdir('../../LHC_mimic/mimic3_1.4/raw_data')) if x.endswith('csv')]

In [28]:
i=1
print(mimic_files[i])
df = pd.read_csv('../../LHC_mimic/mimic3_1.4/raw_data/'+mimic_files[i],nrows=100)
print(df.columns)

CALLOUT.csv
Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'SUBMIT_WARDID', 'SUBMIT_CAREUNIT',
       'CURR_WARDID', 'CURR_CAREUNIT', 'CALLOUT_WARDID', 'CALLOUT_SERVICE',
       'REQUEST_TELE', 'REQUEST_RESP', 'REQUEST_CDIFF', 'REQUEST_MRSA',
       'REQUEST_VRE', 'CALLOUT_STATUS', 'CALLOUT_OUTCOME', 'DISCHARGE_WARDID',
       'ACKNOWLEDGE_STATUS', 'CREATETIME', 'UPDATETIME', 'ACKNOWLEDGETIME',
       'OUTCOMETIME', 'FIRSTRESERVATIONTIME', 'CURRENTRESERVATIONTIME'],
      dtype='object')

In [13]:
for i in range( len(mimic_files)):
    print(mimic_files[i])
    if not mimic_files[i]=='NOTEEVENTS.csv':
        df = pd.read_csv('../../LHC_mimic/mimic3_1.4/raw_data/'+mimic_files[i], nrows=100000)
        if any(['tobac' in x for x in [y.lower() for y in df.columns]]):
            print('!!!')
        if 'tobac' in df.to_string().lower():
            print('!!!')

ADMISSIONS.csv
CALLOUT.csv
CAREGIVERS.csv
CHARTEVENTS.csv
CPTEVENTS.csv
DATETIMEEVENTS.csv
DIAGNOSES_ICD.csv
DRGCODES.csv
D_CPT.csv
D_ICD_DIAGNOSES.csv
!!!
D_ICD_PROCEDURES.csv
D_ITEMS.csv
!!!
D_LABITEMS.csv
ICUSTAYS.csv
INPUTEVENTS_CV.csv

/gpfs/gsfs12/users/moldwinar/environments/torchtcav/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

INPUTEVENTS_MV.csv
LABEVENTS.csv
MICROBIOLOGYEVENTS.csv
!!!
NOTEEVENTS.csv
OUTPUTEVENTS.csv
PATIENTS.csv
PRESCRIPTIONS.csv

/gpfs/gsfs12/users/moldwinar/environments/torchtcav/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

PROCEDUREEVENTS_MV.csv
PROCEDURES_ICD.csv
SERVICES.csv
TRANSFERS.csv

In [5]:
df = pd.read_csv('../../LHC_mimic/mimic3_1.4/raw_data/ADMISSIONS.csv')

In [7]:
filtered = df[df.apply(lambda row: 'smok' in row.to_string().lower(),axis=1)]

In [8]:
filtered

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA
1657,1889,1552,184338,2204-05-07 15:55:00,2204-05-09 17:14:00,NaN,EMERGENCY,CLINIC REFERRAL/PREMATURE,HOME,Medicare,ENGL,PROTESTANT QUAKER,SINGLE,BLACK/AFRICAN AMERICAN,2204-05-07 13:24:00,2204-05-07 17:11:00,SMOKE INHALATION,0,1
2651,2506,2075,177813,2142-09-14 21:18:00,2142-10-03 15:00:00,NaN,EMERGENCY,PHYS REFERRAL/NORMAL DELI,REHAB/DISTINCT PART HOSP,Private,ENGL,UNOBTAINABLE,MARRIED,WHITE,2142-09-14 05:04:00,2142-09-14 08:15:00,SMOKE INHALATION INJURY,0,1

In [9]:
df = pd.read_csv('../../LHC_mimic/mimic3_1.4/raw_data/D_ICD_DIAGNOSES.csv')
D_ICD_filtered = df[df.apply(lambda row: 'tobac' in row.to_string().lower(),axis=1)]
D_ICD_filtered

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
5412,5141,5082,Resp cond dt smoke inhal,Respiratory conditions due to smoke inhalation
10230,9848,E8902,Priv dwel fire-fumes NOS,Other smoke and fumes from conflagration in pr...
10236,9854,E8912,Fire in bldg-fumes NOS,Other smoke and fumes from conflagration in ot...
10645,12577,E8694,Scndhnd tbcco smoke,Second hand tobacco smoke
11407,9668,E0151,Grilling & smoking food,Activities involving grilling and smoking food

In [17]:
df = pd.read_csv('../../LHC_mimic/mimic3_1.4/raw_data/D_ITEMS.csv')
D_ICD_filtered = df[df.apply(lambda row: 'tobac' in row.to_string().lower() or 'smok' in row.to_string().lower(),axis=1)]
D_ICD_filtered

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
10912,12505,80166,LACTOBACILLUS CASEI,NaN,hospital,microbiologyevents,ORGANISM,NaN,NaN,NaN
10940,12533,80194,ACINETOBACTER BAUMANNII,NaN,hospital,microbiologyevents,ORGANISM,NaN,NaN,NaN
11110,12555,80216,ACINETOBACTER SP.,NaN,hospital,microbiologyevents,ORGANISM,NaN,NaN,NaN
11120,12565,80226,PROBABLE LACTOBACILLUS SPECIES,NaN,hospital,microbiologyevents,ORGANISM,NaN,NaN,NaN
11190,15022,227687,Tobacco Use History,Tobacco Use History,metavision,chartevents,Adm History/FHPA,NaN,Text,NaN
11191,15023,227688,Smoking Cessation Info Offered through BIDMC I...,Smoking Cessation Info Offered via Inpatient G...,metavision,chartevents,Adm History/FHPA,NaN,Checkbox,NaN
11241,12427,80088,LACTOBACILLUS SPECIES,NaN,hospital,microbiologyevents,ORGANISM,NaN,NaN,NaN
11780,12643,80304,ACINETOBACTER BAUMANNII COMPLEX,NaN,hospital,microbiologyevents,ORGANISM,NaN,NaN,NaN
12099,13731,225108,Tobacco use,Tobacco use,metavision,chartevents,Adm History/FHPA,NaN,Checkbox,NaN

In [37]:
chart_df = pd.read_csv('../../LHC_mimic/mimic3_1.4/raw_data/CHARTEVENTS.csv', nrows=10000)

In [36]:
chart_df[chart_df['ITEMID'].apply(lambda x: x in [227687,227688,225108])]

Empty DataFrame
Columns: [ROW_ID, SUBJECT_ID, HADM_ID, ICUSTAY_ID, ITEMID, CHARTTIME, STORETIME, CGID, VALUE, VALUENUM, VALUEUOM, WARNING, ERROR, RESULTSTATUS, STOPPED]
Index: []

In [39]:
chart_filtered = chart_df[chart_df.apply(lambda row: 'tobac' in row.to_string().lower() or 'smok' in row.to_string().lower(),axis=1)]
chart_filtered

Empty DataFrame
Columns: [ROW_ID, SUBJECT_ID, HADM_ID, ICUSTAY_ID, ITEMID, CHARTTIME, STORETIME, CGID, VALUE, VALUENUM, VALUEUOM, WARNING, ERROR, RESULTSTATUS, STOPPED]
Index: []

In [79]:
with open('/data/moldwinar/grepoutput.txt', 'r') as grepfile:
    grepout = grepfile.read()

In [2]:
import pandas as pd
pd.read_csv('data/CAD_train_halfsplit_plus_structured.csv').columns

Index(['Unnamed: 0', 'ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'TEXT', 'label',
       'mean_cholesterol', 'mean_diasbp', 'mean_glucose', 'mean_heartrate',
       'mean_ldl', 'mean_meanbp', 'mean_resprate', 'mean_spo2', 'mean_sysbp',
       'mean_tempc', 'mean_heightcm', 'mean_weightkg', 'mean_hdl',
       'mean_hema1c', 'min_cholesterol', 'min_diasbp', 'min_glucose',
       'min_heartrate', 'min_ldl', 'min_meanbp', 'min_resprate', 'min_spo2',
       'min_sysbp', 'min_tempc', 'min_heightcm', 'min_weightkg', 'min_hdl',
       'min_hema1c', 'max_cholesterol', 'max_diasbp', 'max_glucose',
       'max_heartrate', 'max_ldl', 'max_meanbp', 'max_resprate', 'max_spo2',
       'max_sysbp', 'max_tempc', 'max_heightcm', 'max_weightkg', 'max_hdl',
       'max_hema1c', 'count_cholesterol', 'count_diasbp', 'count_glucose',
       'count_heartrate', 'count_ldl', 'count_meanbp', 'count_resprate',
       'count_spo2', 'count_sysbp', 'count_tempc', 'count_heightcm',
       'count_weightkg', 'count_hdl', 'count_hema1c', 'median_cholesterol',
       'median_diasbp', 'median_glucose', 'median_heartrate', 'median_ldl',
       'median_meanbp', 'median_resprate', 'median_spo2', 'median_sysbp',
       'median_tempc', 'median_heightcm', 'median_weightkg', 'median_hdl',
       'median_hema1c', 'stdev_cholesterol', 'stdev_diasbp', 'stdev_glucose',
       'stdev_heartrate', 'stdev_ldl', 'stdev_meanbp', 'stdev_resprate',
       'stdev_spo2', 'stdev_sysbp', 'stdev_tempc', 'stdev_heightcm',
       'stdev_weightkg', 'stdev_hdl', 'stdev_hema1c', 'MED_ACE', 'MED_BETA',
       'MED_INS', 'diabetesdx'],
      dtype='object')

In [3]:
len(['mean_cholesterol', 'mean_diasbp', 'mean_glucose', 'mean_heartrate',
       'mean_ldl', 'mean_meanbp', 'mean_resprate', 'mean_spo2', 'mean_sysbp',
       'mean_tempc', 'mean_heightcm', 'mean_weightkg', 'mean_hdl',
       'mean_hema1c', 'min_cholesterol', 'min_diasbp', 'min_glucose',
       'min_heartrate', 'min_ldl', 'min_meanbp', 'min_resprate', 'min_spo2',
       'min_sysbp', 'min_tempc', 'min_heightcm', 'min_weightkg', 'min_hdl',
       'min_hema1c', 'max_cholesterol', 'max_diasbp', 'max_glucose',
       'max_heartrate', 'max_ldl', 'max_meanbp', 'max_resprate', 'max_spo2',
       'max_sysbp', 'max_tempc', 'max_heightcm', 'max_weightkg', 'max_hdl',
       'max_hema1c', 'count_cholesterol', 'count_diasbp', 'count_glucose',
       'count_heartrate', 'count_ldl', 'count_meanbp', 'count_resprate',
       'count_spo2', 'count_sysbp', 'count_tempc', 'count_heightcm',
       'count_weightkg', 'count_hdl', 'count_hema1c', 'median_cholesterol',
       'median_diasbp', 'median_glucose', 'median_heartrate', 'median_ldl',
       'median_meanbp', 'median_resprate', 'median_spo2', 'median_sysbp',
       'median_tempc', 'median_heightcm', 'median_weightkg', 'median_hdl',
       'median_hema1c', 'stdev_cholesterol', 'stdev_diasbp', 'stdev_glucose',
       'stdev_heartrate', 'stdev_ldl', 'stdev_meanbp', 'stdev_resprate',
       'stdev_spo2', 'stdev_sysbp', 'stdev_tempc', 'stdev_heightcm',
       'stdev_weightkg', 'stdev_hdl', 'stdev_hema1c', 'MED_ACE', 'MED_BETA',
       'MED_INS', 'diabetesdx'])

88